:root
{
  --bgcolour-1: #101409;
  --bgcolour-2: #293317cc;
  --border-colour: #2c0f35;
  --golden: #fae28b;
  --link: #23236b;
  --visited-link: #4f1e5f;
  --cream-white: #dabb8d;
  --chocolate: #805430;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;
}

body
{
  background-color: #000000;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header
{
  width: 100vw;
  height: 10vh;
  background-color: var(--bgcolour-2);
  position: absolute;
}

.header--title
{
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 146px;
  height: 38px;
  background-image: url('./../assets/play-header-title.png');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main
{
  width: 100vw;
  /* height: 8000px; */
  font-size: 1.6rem;
  background-color: #000000;
}

.modal
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000AA;
}

.modal--content
{
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  border-width: 5px;
  padding: 5% 0 0;
  background-color: var(--bgcolour-1);
  border-style: solid;
  border-color: var(--border-colour);
}

.modal--title
{
  width: 100%;
  height: 22px;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.8rem;
}

.modal--main
{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 89.5%;
  padding-top: 20px;
  background-color: var(--cream-white); 
}

.modal--subtitle
{
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: var(--chocolate);
}

.modal--choose-colour /*button*/
{
  display: inline-block;
  width: auto;
  height: 50px;
  border-width: 0px;
  background-color: #ffffff00;
}

.modal--choose-colour:hover
{
  background-color: #ffffff00;
}

.modal--colour-sample
{
  display: inline-block ;
  width: 24px;
  height: 24px;
}

.black
{
  background-color: #000000;
}

.white
{
  background-color: #ffffff;
}